<% include ./partials/header %>
<h1>Login Here</h1>
<form method="POST" action="/login">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <button>Login</button>
</form>
<% include ./partials/footer %>